<% author = (data.authors.select { |a| a.name == current_article.data['author'] }).first %>

<% wrap_layout :layout do %>
  <section class="presentation">
    <h1><%= current_article.title %></h1>   
    <p>
        <% if current_article.data['category'] %>
            <%= t('blog_info_full', author: author.display_name || author.name, category: current_article.data['category']) %>
        <% else %>
            <%= t('blog_info', author: author.display_name || author.name) %>
        <% end %>
    </p> 
  </section>
  <section class="blog">
    <%= current_article.body %>
  </section>
  <section>
    <aside class="flex space-between">
        <div class="tags">
            <% current_article.tags.each do |t| %>
                <a href="/blog/tag/<%= t %>">#<%= t %></a>
            <% end %>
        </div>
        <div>
            <a href="web+mastodon://share?text=<%= current_article.title %> - Unixcorn%0D%0A%0D%0Ahttps://unixcorn.org<%= current_article.url %>">
                <i class="fa fa-share"></i>
                <%= t 'mastodon_share' %>
            </a>
        </div>
    </aside>
    <div class="author">
        <img src="/images/avatars/<%= author.name %>.png" />
        <div>
            <h2><%= t('written_by', author: author.display_name || author.name) %></h2>
            <p class="date"><%= t('article_date', date: current_article.date.strftime('%d/%m/%y')) %></p>
        </div>
    </div>
  </section>
<% end %>
