<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= (current_page.data.title || 'Unixcorn') + ' - Unixcorn' %></title>
    <meta charset="utf8">
    <meta name="description" content="<%= config[:description] %>%">
		<meta name="author" content="Unixcorn">

		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- SocialMeta (OpenGraph + Twitter Cards) -->
		<meta name="og:site_name" property="og:site_name" content="Unixcorn" />
		<meta name="og:title" property="og:title" content="{{ .Scratch.Get "title" }} | {{ .Site.Title }}" />
		<meta name="og:description" property="og:description" content="{{ $description }}" />
		<meta name="og:type" property="og:type" content="article" />
		<meta name="og:url" property="og:url" content="https://unixcorn.org" />
		<meta name="og:image" property="og:image" content="{{ $image }}" />

		<meta name="twitter:card" property="twitter:card" content="summary" />
		<meta name="twitter:site" property="twitter:site" content="@unixcornproject" />
		<meta name="twitter:title" property="twitter:title" content="{{ .Scratch.Get "title" }} | {{ .Site.Title }}" />
		<meta name="twitter:description" property="twitter:description" content="{{ $description }}" />
		<meta name="twitter:image" property="twitter:image" content="{{ $image }}" />

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="images/manifest.json">
		<link rel="shortcut icon" href="images/favicon.ico">
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="msapplication-TileImage" content="images/mstile-144x144.png">
		<meta name="msapplication-config" content="images/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(["setDomains", ["*.unixcorn.org"]]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u="//stats.unixcorn.org/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', 3]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<noscript><p><img src="//stats.unixcorn.org/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <nav>
		<ul>
			<li class="name"><a href="/">Unixcorn</a></li>
			<li><a href="/">Accueil</a></li>
			<li><a href="https://chat.unixcorn.org">Chat</a></li>
			<li><a href="services">Services</a></li>
			<li><a href="https://doc.unixcorn.org">Wiki</a></li>
			<li><a href="rules">CGU</a></li>
		</ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
			<img alt="Creative Commons License" style="border-width:0" src="images/external/cc-by-nc-sa.png" />
		</a>
		<p>&copy; 2015-2018 <a href="https://unixcorn.org">Unixcorn Project</a></p>
		<a href="/rules">CGU</a>
		&mdash;
		<a href="/legals">Mentions légales</a>
	</footer>
  </body>
</html>
