---
title: Services
---

<main>
	<section class="presentation">
		<h1><%= t 'our_services' %></h1>
		<p><%= t 'service_limit' %></p>
		<a href="https://liberapay.com/unixcorn-project/donate"><h4><%= t 'donate' %></h4></a>
		<h5><%= t 'donation_status' %></h5>
	</section>

	<section>
		<h2 class="underline"><%= t 'no_registration_services' %></h2>
		<ul class="services">
			<% data.services.each do |s| %>
				<% if !s.requires_account %>
					<li class="service">
						<h2><%= s.name %></h2>
						<i class="fa fa-<%= s.icon %> fa-2x"></i>
						<p><%= s.description %></p>
						<p class="powered-by"><%= t 'powered_by' %><%= s.app %></p>
						<a class="button" href="<%= s.url %>"><%= t 'launch' %></a>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>

	<section>
		<h2 class="underline"><%= t 'registration_services' %></h2>
		<ul class="services">
			<% data.services.each do |s| %>
				<% if s.requires_account %>
					<li class="service">
						<h2><%= s.name %></h2>
						<i class="fa fa-<%= s.icon %> fa-2x"></i>
						<p><%= s.description %></p>
						<p><%= s.more_info %></p>						
						<p class="powered-by"><%= t 'powered_by' %><%= s.app %></p>
						<a class="button" href="<%= s.url %>"><%= t 'launch' %></a>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
</main>
