---
pageable: true
per_page: 10
layout: 'layout'
---
<main>
    <section class="presentation">
        <h1><%= t 'tag_title', tag: tagname %></h1>
    </section>
    <section>
                <% if paginate && num_pages > 1 %>
        <p><%= t('page_num', page_number: page_number, num_pages: num_pages) %></p>

        <% if prev_page %>
            <p><%= link_to t('prev_page'), prev_page %></p>
        <% end %>
        <% end %>

        <ul>
        <% page_articles.each_with_index do |article, i| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime '%d/%m/%y' %></span></li>
        <% end %>
        </ul>

        <% if paginate %>
        <% if next_page %>
            <p><%= link_to t('next_page'), next_page %></p>
        <% end %>
        <% end %>
    </section>
</main>
