---
pageable: true
per_page: 10
layout: 'layout'
---
<main>
    <section class="presentation">
        <h1>Articles taggués #<%= tagname %></h1>
    </section>
    <section>
        <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> sur <%= num_pages %></p>

        <% if prev_page %>
            <p><%= link_to 'Page précédente', prev_page %></p>
        <% end %>
        <% end %>

        <ul>
        <% page_articles.each_with_index do |article, i| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime '%d/%m/%y' %></span></li>
        <% end %>
        </ul>

        <% if paginate %>
        <% if next_page %>
            <p><%= link_to 'Page suivante', next_page %></p>
        <% end %>
        <% end %>
    </section>
</main>
