---
title: Nos services
---

<main>
	<section class="presentation">
		<h1>Nos services</h1>
		<p>Afin de ne pas dégrader l'accès aux services des autres utilisateur⋅ice⋅s, certains services sont limités dans leur usage.</p>
		<a href="https://liberapay.com/unixcorn-project/donate"><h4>Faire un don régulier</h4></a>
		<h5>Dons: 50€/mois. Coûts: 100€/mois.</h5>
	</section>

	<section>
		<h2 class="underline">Services sans inscription</h2>
		<ul class="services">
			<% data.services.each do |s| %>
				<% if !s.requires_account %>
					<li class="service">
						<h2><%= s.name %></h2>
						<i class="fa fa-<%= s.icon %> fa-2x"></i>
						<p><%= s.description %></p>
						<p class="powered-by">Propulsé par <%= s.app %></p>
						<a class="button" href="<%= s.url %>">Ouvrir</a>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>

	<section>
		<h2 class="underline">Inscription publique requise</h2>
		<ul class="services">
			<% data.services.each do |s| %>
				<% if s.requires_account %>
					<li class="service">
						<h2><%= s.name %></h2>
						<i class="fa fa-<%= s.icon %> fa-2x"></i>
						<p><%= s.description %></p>
						<p><%= s.more_info %></p>						
						<p class="powered-by">Propulsé par <%= s.app %></p>
						<a class="button" href="<%= s.url %>">Ouvrir</a>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
</main>
